extends ../layouts/default
block variables
  - var title = "Company Profile"
  - var page ="company-profile"
  - var lang = "jp"
block content
  main.
    <div class="about-us about-us__notes">
      <div class="about-us__header about-us__header--extra-wide">
        <div class="head">
          <h1>会社案内</h1>
          <div class="separator"></div>
        </div>
      </div>
      <div class="about-us__notes-intro">
        <img class="about-us__notes-img" src="assets/images/attachment_a6c69264f0367a6786443ceac256afc1.jpg">
        <div class="about-us__notes-intro-letter">
          創業して半年が経とうとしていますが、ポケットルの構成を考え始めたのは3年前でした。<br>3年前と変わらず、私はポケットルの仕事が大好きで楽しくて仕方なく、優秀で献身的にサポートしてくれるチームを引率できることをとても幸せに感じています。ポケットルの最新ニュースと活動をお伝えし、より多くの方々にポケットルのことを知っていただければと感じております。
          <br>
          <br>
          <p>
            皆さんのご意見はとても貴重です。ポジティブで建設的なアドバイスは私たちがより多くのお客様のお力添えができるよう切磋琢磨する機動力となります。ぜひ、皆様のご意見をお聞かせください。
          </p>
          <br>
          <div>
            CEO and Founder
          </div>
        </div>
      </div>
      <div class="about-us__notes-item checkerboard checkerboard--left">
        <div class="about-us__notes-item-number">1</div>
        <div class="about-us__notes-item__text checkerboard__text">
          <div class="about-us__notes-item-number about-us__notes-item-number--desktop mt-0">1</div>
          <div class="head">
            <h2>基本情報</h2>
          </div>
          <div class="deck">
            <p>
              社名：株式会社ポケットル<br>
              英文社名：Pocketle Inc.<br>
              本社所在地：〒600-8208<br>
              京都府京都市下京区小稲荷町85-11<br>
              京都高倉ビル201<br>
              電話番号：050-5806-9621<br>
              会社設立日：2019年1月<br>
              事業内容：ソフトウェアの企画・設計・製造および販売、情報処理・提供サービス業、情報機器の販売、インターネットを利用した通信販売業、古物商、広告業、広告代理業、広告宣伝に関する企画、制作ならびに指導、ホームページの企画・制作およびメンテナンス、文書の電子化、データ交換、倉庫の管理業務並びに商品の梱包および発想の代行業務、経営コンサルティング事業、インターネットサービス業、全各号に附帯関連する一切の事業
            </p>
            <br><!--
            <a href="#">READ MORE</a>-->
          </div>

        </div>
        <div class="checkerboard__image">
          <img class="img-fluid" src="assets/images/comingsoon.jpg" />
        </div>
      </div>
      <div class="about-us__notes-item checkerboard checkerboard--right">
        <div class="about-us__notes-item-number">2</div>
        <div class="about-us__notes-item__text checkerboard__text">
          <div class="about-us__notes-item-number about-us__notes-item-number--desktop mt-0">2</div>

          <div class="head">
            <h2>Coming Soon</h2>
          </div>
          <div class="deck">
            <p>
            <!--本文-->
            </p>
            <br><!--
            <a href="#">READ MORE</a>-->
          </div>

        </div>
        <div class="checkerboard__image">
          <img class="img-fluid" src="assets/images/comingsoon.jpg" />
        </div>
      </div><!--
      <div class="about-us__notes-item checkerboard checkerboard--left">
        <div class="about-us__notes-item-number">3</div>
        <div class="about-us__notes-item__text checkerboard__text">
          <div class="about-us__notes-item-number about-us__notes-item-number--desktop">3</div>

          <div class="head">
            <h2>Technology & Logistics Backbone</h2>
          </div>
          <div class="deck">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <br>
            <a href="#">READ MORE</a>
          </div>

        </div>
        <div class="checkerboard__image">
          <img class="img-fluid" src="assets/images/comingsoon.jpg" />
        </div>
      </div>
      <div class="about-us__notes-item checkerboard checkerboard--right">
        <div class="about-us__notes-item-number">4</div>
        <div class="about-us__notes-item__text checkerboard__text">
          <div class="about-us__notes-item-number about-us__notes-item-number--desktop">4</div>

          <div class="head">
            <h2>Technology & Logistics Backbone</h2>
          </div>
          <div class="deck">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <br>
            <a href="#">READ MORE</a>
          </div>

        </div>
        <div class="checkerboard__image">
          <img class="img-fluid" src="assets/images/comingsoon.jpg" />
        </div>
      </div>
      <div class="about-us__notes-item checkerboard checkerboard--left">
        <div class="about-us__notes-item-number">5</div>
        <div class="about-us__notes-item__text checkerboard__text">
          <div class="about-us__notes-item-number about-us__notes-item-number--desktop">5</div>

          <div class="head">
            <h2>Technology & Logistics Backbone</h2>
          </div>
          <div class="deck">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <br>
            <a href="#">READ MORE</a>
          </div>

        </div>
        <div class="checkerboard__image">
          <img class="img-fluid" src="assets/images/comingsoon.jpg" />
        </div>
      </div>
      <div class="about-us__notes-item checkerboard checkerboard--right">
        <div class="about-us__notes-item-number">6</div>
        <div class="about-us__notes-item__text checkerboard__text">
          <div class="about-us__notes-item-number about-us__notes-item-number--desktop">6</div>

          <div class="head">
            <h2>Technology & Logistics Backbone</h2>
          </div>
          <div class="deck">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <br>
            <a href="#">READ MORE</a>
          </div>

        </div>
        <div class="checkerboard__image">
          <img class="img-fluid" src="assets/images/comingsoon.jpg" />
        </div>
      </div>
    </div>-->
  