extends ../layouts/default
block variables
  - var title = "Company Profile"
  - var page ="company-profile"
  - var lang = "en"
block content
  main.
    <div class="about-us about-us__notes">
      <div class="about-us__header about-us__header--extra-wide">
        <div class="head">
          <h1>Notes from</h1>
          <div class="separator"></div>
        </div>
      </div>
      <div class="about-us__notes-intro">
        <img class="about-us__notes-img" src="assets/images/attachment_a6c69264f0367a6786443ceac256afc1.jpg">
        <div class="about-us__notes-intro-letter">
          It's been almost 6 months since Pocketle Inc. has launched although the development process has stared 3 years ago, and I am still just as excited to come to work and
          lead our incredible team as I was at the beginning. I am eager to share the latest happenings at the company
          and other topics that inspire me.
          <br>
          <br>
          <p>
            And, I would love to hear from you. Your feedback, positive as well as constructive, are what pushes us to improve and evolve.
          </p>
          <br>
          <div>
            CEO and Founder
          </div>
        </div>
      </div>
      <div class="about-us__notes-item checkerboard checkerboard--left">
        <div class="about-us__notes-item-number">1</div>
        <div class="about-us__notes-item__text checkerboard__text">
          <div class="about-us__notes-item-number about-us__notes-item-number--desktop mt-0">1</div>
          <div class="head">
            <h2>Basic Information</h2>
          </div>
          <div class="deck">
            <p>
              <b>Company Name:</b> Pocketle Inc.<br>
              Head office location:  
              201 Kyoto Takakura Building<br>
              85-11 Koinaricho Shimogyo-ku, Kyoto City, Kyoto Prefecture 600-8208<br>
              Company Establishment Date: January 2019<br>
              Business Contents: Planning, Design, Manufacturing and Sales of Software, Information Processing and Provision Services, Sales of Information Devices, Ecommerce, Second Hand Ecommerce, Advertising, Advertising Agency, Planning, Production and Guidance on Advertising , Website Planning, Production and Maintenance of Webs or Apps, Digitization of Documents, Importing & Exporting Data, Warehouse Management and Product Packing and Idea Agency Services, Consulting Business, Internet Service Business, All Businesses Relating to All Items above
            </p><!--
            <br>
            <a href="#">READ MORE</a>-->
          </div>
        </div>
        <div class="checkerboard__image">
          <img class="img-fluid" src="assets/images/comingsoon.jpg" />
        </div>
      </div>
      <div class="about-us__notes-item checkerboard checkerboard--right">
        <div class="about-us__notes-item-number">2</div>
        <div class="about-us__notes-item__text checkerboard__text">
          <div class="about-us__notes-item-number about-us__notes-item-number--desktop mt-0">2</div>

          <div class="head">
            <h2>Coming Soon</h2>
          </div>
          <div class="deck">
            <!--<p>
            </p>
            <br>
            <a href="#">READ MORE</a>-->
          </div>

        </div>
        <div class="checkerboard__image">
          <img class="img-fluid" src="assets/images/comingsoon.jpg" />
        </div>
      </div><!--
      <div class="about-us__notes-item checkerboard checkerboard--left">
        <div class="about-us__notes-item-number">3</div>
        <div class="about-us__notes-item__text checkerboard__text">
          <div class="about-us__notes-item-number about-us__notes-item-number--desktop">3</div>

          <div class="head">
            <h2>Technology & Logistics Backbone</h2>
          </div>
          <div class="deck">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <br>
            <a href="#">READ MORE</a>
          </div>

        </div>
        <div class="checkerboard__image">
          <img class="img-fluid" src="assets/images/shutterstock_1114626449.jpg" />
        </div>
      </div>
      <div class="about-us__notes-item checkerboard checkerboard--right">
        <div class="about-us__notes-item-number">4</div>
        <div class="about-us__notes-item__text checkerboard__text">
          <div class="about-us__notes-item-number about-us__notes-item-number--desktop">4</div>

          <div class="head">
            <h2>Technology & Logistics Backbone</h2>
          </div>
          <div class="deck">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <br>
            <a href="#">READ MORE</a>
          </div>

        </div>
        <div class="checkerboard__image">
          <img class="img-fluid" src="assets/images/shutterstock_1114626449.jpg" />
        </div>
      </div>
      <div class="about-us__notes-item checkerboard checkerboard--left">
        <div class="about-us__notes-item-number">5</div>
        <div class="about-us__notes-item__text checkerboard__text">
          <div class="about-us__notes-item-number about-us__notes-item-number--desktop">5</div>

          <div class="head">
            <h2>Technology & Logistics Backbone</h2>
          </div>
          <div class="deck">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <br>
            <a href="#">READ MORE</a>
          </div>

        </div>
        <div class="checkerboard__image">
          <img class="img-fluid" src="assets/images/shutterstock_1114626449.jpg" />
        </div>
      </div>
      <div class="about-us__notes-item checkerboard checkerboard--right">
        <div class="about-us__notes-item-number">6</div>
        <div class="about-us__notes-item__text checkerboard__text">
          <div class="about-us__notes-item-number about-us__notes-item-number--desktop">6</div>

          <div class="head">
            <h2>Technology & Logistics Backbone</h2>
          </div>
          <div class="deck">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <br>
            <a href="#">READ MORE</a>
          </div>

        </div>
        <div class="checkerboard__image">
          <img class="img-fluid" src="assets/images/shutterstock_1114626449.jpg" />
        </div>
      </div>
    </div>
  </main>