extends ../layouts/default
block variables
  - var title = "plans"
  - var page ="process"
  - var lang = "en"
block content
  main.maincontainer.
    <div class="about-us">
      <div class="about-us__header mb-5 about-us__header--extra-wide">
        <div class="head">
          <h1>Our Services</h1>
          <div class="separator"></div>
        </div>
        <p>
          We Offer Services that People <i>Wish</i> to Have.
        </p>
      </div>
      <div class="checkerboard checkerboard--left">
        <div class="checkerboard__text">
          <div class="head">
            <h2>Project Management</h2>
          </div>
          <div class="deck">
            <p>
              We are offering upper process project management and web direction service in both Japanese and English.
            </p>
            <ul class="dek-ul">
              <li>
                Enterprise System
              </li>
              <li>
                Web or Apps for Both corporation and individuals
              </li>
              <strong>(Portfolio)</strong>
              <br>
              ・ Development of Banking System & Project Management in ERP(SAP)
              <br>・ Review of Work of IT Consultants from Major IT Consulting farms (Dentsu, Fujitsu, NTT Data, etc.)<br>・ Advice on core system Banking development <br>
          </div>
        </div>
        <div class="checkerboard__image">
          <img class="img-fluid" src="assets/images/projectmanagement.png" />
        </div>
      </div>
      <div class="checkerboard checkerboard--right">
        <div class="checkerboard__text">
          <div class="head">
            <h2>Development</h2>
          </div>
          <div class="deck">
            <p>
              We are offering development services of Web & Apps
              <ul class="dek-ul">
                <li>
                  Planning：Meetings with Clients to discuss what they want to accomplish with the web & app development
                </li>
                <li>
                  Design：Our design team will create web and app designs as well as wireframes
                </li>
                <li>
                  Development & Testing：Once the design is completed, our development team will code and test to verify functions
                <li>
                  Maintenance：We will help you to update your web and apps after launching the web or update existing webs.
              </ul>
            </p>
          </div>
        </div>
        <div class="checkerboard__image">
          <img class="img-fluid" src="assets/images/webdesignanddevelopment.png" />
        </div>
      </div>
      <div class="checkerboard checkerboard--left">
        <div class="checkerboard__text">
          <div class="head">
            <h2>Consulting & Seminar</h2>
          </div>
          <div class="deck">
            <p>
              We are offering strategic consulting to brush up for the creation of new services to someone for such as "I want to create new products and services but I don't know where to start", or to improve business though consultations to solve a case such as "I do not know how to solve problems within companies" In addition, we also offer seminar and lecture request.
            </p>
          </div>
        </div>
        <div class="checkerboard__image">
          <img class="img-fluid" src="assets/images/comingsoon.jpg" />
        </div>
      </div>
      <div class="about-us__cta">
        <div class="head">
          <h2>Learn more about what we do</h2>
        </div>
        <a href="mailto:inquiry@pocketle.co.jp" class="btn">Inquire Pocketle</a>
      </div>
    </div>
  