extends ../layouts/default
block variables
  - var title = "plans"
  - var page ="process"
  - var lang = "jp"
block content
  main.maincontainer.
    <div class="about-us">
      <div class="about-us__header mb-5 about-us__header--extra-wide">
        <div class="head">
          <h1>Our Services</h1>
          <div class="separator"></div>
        </div>
        <p>
          ポケットルは人々の「あんなことがあったらいいな」というサービスを提供する会社です。
        </p>
      </div>
      <div class="checkerboard checkerboard--left">
        <div class="checkerboard__text">
          <div class="head">
            <h2>プロジェクトマネージメント</h2>
          </div>
          <div class="deck">
            <p>
              上流工程のプロジェクトマネージメントやWEBディレクションを代行致します。外資系企業様向けに英語でのPM代行も可能です。</p>
              <ul class="dek-ul">
                <li>
                  基幹系システム
                </li>
                <li>
                  企業や個人向けのホームページやアプリ
                </li>
              </ul>
              <strong>（実績）</strong>
              <br>
              ・メガバンクの基幹系システムの開発・ERP案件推進(SAP)<br>
              ・大手ファーム（電通・富士通・NTTデータ等)のITコンサルタントの成果物レビュー<br>
              ・勘定系システム開発のアドバイス<br>
            </p>
          </div>
        </div>
        <div class="checkerboard__image">
          <img class="img-fluid" src="assets/images/projectmanagement.png" />
        </div>
      </div>
      <div class="checkerboard checkerboard--right">
        <div class="checkerboard__text">
          <div class="head">
            <h2>開発代行</h2>
          </div>
          <div class="deck">
            <p>
              ウェブやアプリの開発代行を致します。
              <ul class="dek-ul">
                <li>
                  企画：ウェブやアプリの開発で何を成し遂げたいのかお客様と打ち合わせをします。
                </li>
                <li>
                  デザイン・設計：弊社のデザインチームがウェブやアプリのデザインを代行作成します。
                </li>
                <li>
                  開発＆テスト：デザインが完成したら弊社の開発チームがコーディングをして、テストで動作確認をします。
                <li>
                  メンテナンス：ローンチ後のウェブやアプリのアップデートや既存ウェブのアップデートをお手伝い致します。
              </ul>
            </p>
          </div>
        </div>
        <div class="checkerboard__image">
          <img class="img-fluid" src="assets/images/webdesignanddevelopment.png" />
        </div>
      </div>
      <div class="checkerboard checkerboard--left">
        <div class="checkerboard__text">
          <div class="head">
            <h2>コンサルティング＆講演</h2>
          </div>
          <div class="deck">
            <p>
              「新しい商品やサービスを生み出したいが何をしていいのかわからない」といった戦略コンサルティングから「社内に問題があるがどうして解決していいのかわからない」などの業務改善のご相談を賜ります。またスポットで代表によるセミナーや講演依頼もお受けしております。
            </p>
          </div>
        </div>
        <div class="checkerboard__image">
          <img class="img-fluid" src="assets/images/comingsoon.jpg" />
        </div>
      </div>
      <div class="about-us__cta">
        <div class="head">
          <h2>もっと上記の詳細を知りたいですか？</h2>
        </div>
        <a href="mailto:inquiry@pocketle.co.jp" class="btn">ポケットルに問い合わせをする</a>
      </div>
    </div>
 