extends ../layouts/default
block variables
  - var title = "plans"
  - var page ="product"
  - var lang = "jp"
block content
  main.maincontainer.
    <div class="about-us">
      <div class="about-us__header mb-5">
        <div class="head">
          <h1>Our Products</h1>
          <div class="separator"></div>
        </div>
        <p>
          ポケットルは人々の「あんなものがあったらいいな」という商品を提供する会社です。
        </p>
      </div>
      <div class="checkerboard checkerboard--right">
        <div class="checkerboard__text">
          <div class="head">
            <h2>パートナーシッププログラム</h2>
          </div>
          <div class="deck">
            <p>
              ポケットルでは常に新しいデザイナーと提携を組み、オファーできるデザイナー様を探しております。私たちはパートナーシップを組むだけでなく、新しいタレントの成功の出発点としての役割を果たしたいと考えております。
            </p>
            <br />
            <p>
              ポケットルのパートナーシッププログラムに興味がありますか?
            </p>
            <br />
            <a href="partnership%40pocketle.co.jp" class="btn">ポケットルにメールをする</a>
          </div>
        </div>
        <div class="checkerboard__image">
          <img class="img-fluid" src="assets/images/partnershipprogram.jpg" />
        </div>
      </div>
      <div class="about-us__logos">
        <div class="about-us__header">
          <div class="head my-0">
            <h1>Brand Lists</h1>
            <div class="separator"></div>
          </div>
        </div>
        <div class="about-us__logos-logos">
          <img class="img-fluid" src="assets/images/brandlist.png">
        </div>
      </div>
      <div class="checkerboard checkerboard--left">
        <div class="checkerboard__text">
          <div class="head">
            <h2>「本物」と言える商品</h2>
          </div>
          <div class="deck">
            <p>
              「本物」と言える商品には魔法があります。私たちはデザイナーの商品を購入するだけでなく、私たちのお客様だけに商品をカスタマイズするためのコラボをすることでデザイナーのアート面を支えています。
            </p>
            <br>
          </div>
        </div>
        <div class="checkerboard__image">
          <img class="img-fluid" src="assets/images/magicrealfashion.jpg" />
        </div>
      </div>
      <div class="checkerboard checkerboard--right">
        <div class="checkerboard__text">
          <div class="head">
            <h2>全ての瞬間を楽しんでもらいたい</h2>
          </div>
          <div class="deck">
            <p>
              女性・男性ともに人生に大事なシーンが訪れるときがあります。そんな日にもっと素敵な洋服を着れば良かった、あの時あんな服しか持ってなかったということはありませんでしたか？スタイル、サイズ、トレンド、色　ー　様々な品揃えで全ての人にユニークなファッションスタイルの提案をして、１つ１つのシーンを、人生の全ての瞬間を楽しんで頂きたい。そして新しいエクスペリエンスを提供したいと考えています。
            </p>
            <br>
          </div>
        </div>
        <div class="checkerboard__image">
          <img class="img-fluid" src="assets/images/enjoyeverymoment.jpg" />
        </div>
      </div>
      <div class="checkerboard checkerboard--left">
        <div class="checkerboard__text">
          <div class="head">
            <h2>近日公開</h2>
          </div>
          <div class="deck">
            <p>
              具体的なサービスについては近日公開致します。
            </p><!--
            <br>
            <p>
              <strong>具体的なサービスについては近日公開致します。</strong>
              <br>
              <ul class="dek-ul">
                <li>
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                </li>
                <li>
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                </li>
                <li>
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                </li>
              </ul>-->
            </p>
          </div>
        </div>
        <div class="checkerboard__image">
          <img class="img-fluid" src="assets/images/stylingrentalbuy.jpg" />
        </div>
      </div>
    </div>
  