extends ../layouts/default
block variables
  - var title = "Vision"
  - var page ="vision"
  - var lang = "jp"
block content
  main(class="maincontainer about-us about-us-vision").
    <div class="about-us__header">
      <div class="head">
        <h1>Our Vision</h1>
        <div class="separator"></div>
      </div>
      <div class="about-us__introduction">
        <h2 class="text-left">
          私たちのミッションは1秒で</br>欲しいもの・サービス・情報にたどり着ける仕組みを作ることです。
        </h2>
        <img src="assets/images/attachment_a6c69264f0367a6786443ceac256afc1.jpg" />
      </div>
    </div>
    <div class="about-us__item">
      <h3 class="head">
        「無理だ。」という言葉を信じなかった私達。
      </h3>
      <div class="deck">
        ポケットルを立ち上げるにあたり、いろんな人達の支援があって、ここまでやってきました。
        その中でポケットルの構想を無理だと言う人も中にはいました。時に圧力を感じることもありましたが、私たちはそのような言葉や行動に臆することなく、説明を続けて参りました。その結果、彼らの姿勢も変わり、今では私たちの目標を応援してくれる方々になりました。
      </div>
      <div class="deck">
        私たちは世界初の目的検索エンジンという夢と希望がたくさん詰まったプロダクトを開発・運用しています。あなたが今叶えたいこと、達成したいことをポケットルに打ち込んで、もし達成できる商品やサービス、情報が瞬時に見つかる瞬間を想像してみてください。もう何年も広告に踊らされて効果のない商品やサービスを買うことなく、意図として探している情報を掴むために何日もリサーチしなくてもいいのです。
      </div>
    </div>
    <div class="about-us__item">
      <h3 class="head">
        人々の可能性を広げたい。
      </h3>
      <div class="deck">
        ポケットルは他のIT企業と何が違うのか？と聞かれることがあります。それに対して私は全然違いますと答えるんです。
        なぜなら、彼らはITがどのような影響を人間に与えようともできるところまで突き進んでいくのに対して、ポケットルは人がしたいことは人がすればいいというスタンスなんです。人の仕事を取り上げるのはITの仕事ではなく、ITは人の可能性を広げるものです。人ができないことをITで解決していきましょうという姿勢は我々のサービスや商品からも感じていただけるはずだと確信しています。
      </div>
    </div>
    <div class="about-us__item">
      <h3 class="head">
        ポケットルが少しでもあなたの達成したいことに近づくお手伝いができることを祈っています。
      </h3>
    </div>
    <div class="about-us__sign-off">
      <div class="about-us__founder-name">
        本多　さゆり
      </div>
      <div class="about-us__company">
        株式会社ポケットル 代表取締役社長
      </div>
    </div>
  