extends layouts/help
block variables
  - var title = "Help Center"
  - var page ="help-center"
block content
  .t-bg-tertiary.t-py-2md.t-px-sm(class="sm:t-py-3lg")
    h1.t-font-bold.t-text-center.t-mb-3md(class="t-text-7/2xl") FAQs
    form.t-border-black.t-border-solid.t-border.t-flex.t-items-center.t-bg-white.t-m-auto(style="max-width: 800px")
      input.t-w-full.t-pl-4.t-py-2sm.t-font-sans-alt(placeholder="Search by keyword")
      img(src="assets/images/SearchIcon.png", style="height: 27px", class="t-mr-5")
  .sub-menu.t-font-sans
    input#submenu(type="checkbox").sub-menu__dropdown-controller
    label(for="submenu",class="sub-menu__dropdown") ABOUT US
    .sub-menu__wrapper
      a.sub-menu__link(class=(page === "story" && "sub-menu__link--selected"), href=("plans"+ ($t.locale == 'en' ? '.en' : '') +".html")) STORY
      a.sub-menu__link(href=("about-us"+ ($t.locale == 'en' ? '.en' : '') +".html")) MEMBERSHIPS
      a.sub-menu__link(href=("product"+ ($t.locale == 'en' ? '.en' : '') +".html")) UNLIMITED SWAPS
      a.sub-menu__link(href=("process"+ ($t.locale == 'en' ? '.en' : '') +".html")) 1 &AMP; 2 SWAPS
      a.sub-menu__link(href=("careers"+ ($t.locale == 'en' ? '.en' : '') +".html")) ONE TIME RENTALS
      a.sub-menu__link(href=("notes"+ ($t.locale == 'en' ? '.en' : '') +".html")) STORE &AMP; DROP-OFF
      a.sub-menu__link(href=("notes"+ ($t.locale == 'en' ? '.en' : '') +".html")) CONTACT US
  .t-pt-8.t-px-2.t-pb-4(class="sm:t-pt-10 sm:t-pb-6 sm:t-px-12")
    h2.t-font-bold.t-pb-sm.t-mb-2md.t-border-tertiary.t-border-solid.t-border-b-4(class="t-text-5/2xl") About Pocketle
    .t-font-sans-alt
      .t-py-4.t-mb-2
        h3.t-text-sm.t-font-semibold.t-tracking-default.t-mb-md LEARN ABOUT POCKETLE
        div
          .t-border-solid.t-border-b-1.t-border-gray-300.t-mb-4.t-pb-4
            h4.t-text-sm.t-overflow-x-hidden.t-whitespace-no-wrap.t-truncate How are garments cleaned, including to prevent the spread of viruses such as COVID-19?
