.text-container {
  font-size: 15px;
  line-height: 22px;
  @apply p-4 text-center;
  h1 {
    line-height: 53px;
    font-size: 50px;
  }
  h2 {
    font-size: 28px;
    line-height: 33px;
  }
  h3 {
    font-size: 14px;
    letter-spacing: 2px;
    @apply font-sans uppercase;
  }
}

.text-container a,
a.standalone {
  letter-spacing: 2px;
  font-size: 12px;
  @apply font-sans border-b border-solid border-gray-900 uppercase;
}

a.standalone {
  font-size: 14px;
}

.tw-btn {
  font-size: 14px !important;
  font-weight: 600;
  background-color: rgb(51, 51, 51);
  color: white;
  @apply py-4 inline-block px-16 border-b-0;
}
@media (min-width: 640px) {
  .adjusting-width {
    @apply w-2/3 mx-auto;
  }
}
@media (min-width: 1366px) {
  .adjusting-width {
    @apply w-2/4 mx-auto;
  }
}
